body {
  background: #ffffff;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top:10px;
  font-family: 'Cormorant Garamond', serif;

}

h1 {
  color: #494848;
  font-weight: 100;
  margin:10px;
}
h3{
    color: #9e9e9e;
}
h4{
    margin:0;
}
input{
  cursor: pointer;
}
#hit{
    margin:10px 0px 10px 0px;
}
.hidden{
  display: none;
}
.pad{
    padding-top:20px;
}
.grey{
    color: #9e9e9e;
}


.insult{
    font-family: 'Nanum Myeongjo', serif;

}

#shake{
  width:500px;
}

#singleGen{
  min-height:110px;
  max-height:1050px;
  /*border: limegreen 1px solid;*/
  margin-bottom: 15px;
}


label{
  margin-left: 15px;
  vertical-align: middle;
}

.fa-caret-down, .fa-caret-up{
  margin-left: 6px;
  font-size: 25px;
  vertical-align: middle
}


#barrage{
  cursor: pointer;
}

#msg2{
    margin-top:0px;
    min-height: 100px;
    max-height: 1000px;
}

#go{
    margin-top:15px;
    margin-bottom: 30px;
}
#multipleResults{
    max-height: 1000px;
}